<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand a-navbar-brand" href="/home">Playing-A-Round</a>
    <button class="navbar-toggler navbar-toggler-button" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="fa-solid fa-bars fa-3x"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h2>
        <i class="fa-solid fa-xmark fa-4x" data-bs-dismiss="offcanvas"></i>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a id="endGame" class="nav-link" href="/calculateHandicapIndex" onclick="return endGame()">Save Game</a>
          </li>
          <br>
          <li class="nav-item">
            <a id="scorecard" class="nav-link" href="/score-card" onclick="return hasJoinedGame('scorecard')">Scorecard</a>
          </li>
          <br>
          <li class="nav-item">
            <a id="strokeplay" class="nav-link" href="/strokeplay" onclick="return hasJoinedGame('strokeplay')">Strokeplay</a>
          </li>
          <br>
          <li class="nav-item">
            <a id="matchplay" class="nav-link" href="/matchplay" onclick="return hasJoinedGame('matchplay')">Matchplay</a>
          </li>
          <br>
          <li class="nav-item">
            <a id="daytona" class="nav-link" href="/daytona" onclick="return hasJoinedGame('daytona');">Daytona</a>
          </li>
          <br>
          <li class="nav-item">
            <a id="stableford" class="nav-link" href="/stableford" onclick="return hasJoinedGame('stableford')">Stableford</a>
          </li>
        </ul>
        <br>
        <br>
        <form class="form-inline" style="margin-left: 18px;" action="#" th:action="@{/logout}"
            onclick="deleteAllCookies()" method="POST">
          <input class="btn btn-logout btn-md mb-3" type="submit" value="Logout" />
        </form>
        <div style="position: fixed; bottom: 40px;">
          <h1 id="username" class="offcanvas-text"></h1>
          <h1 id="handicap" class="offcanvas-text" style="margin-top: 20px;"></h1>
        </div>
      </div>
      
    </div>
  </div>
</nav>
<div th:replace="~{../javascript/js-navbar}" />