<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>cqueltech.com - Playing-A-Round Drive Distances</title>
  <div th:replace="~{/fragments/head}" />
</head>

<body class="body-bg-img">
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>
  <div id="container" class="container-scrollable">
    <table class="drive-distance-table">
      <tr th:each="player : ${players}">
        <td class="drive-distance-banner">
          <div style="float: left;" th:text="${player.getUsername()}"></div>
          <div style="float: right;" th:text="${player.getDistance() + ' yards'}"></div>
        </td>
      </tr>
    </table>
  </div>

  <div id="footer" th:replace="~{/fragments/footer}" />

  <script type="text/javascript" th:inline="javascript" th:src="@{/js/drive-distance.js}"></script>

</body>

</html>