<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>cqueltech.com - Playing-A-Round Login Redirect</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript" th:inline="javascript" th:src="@{/js/storage-management.js}"></script>
</head>

<body>
  <!-- Assign model attributes as global variables so they can be used in external -->
  <!-- javascript file. -->
  <script type="text/javascript" th:inline="javascript">
    window.contextPath = /*[[@{/}]]*/ "/";
  </script>
  
  <script th:inline="javascript" th:src="@{/js/login-redirect.js}"></script>
</body>

</html>
