<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>cqueltech.com - Playing-A-Round Matchplay</title>
  <div th:replace="~{/fragments/head}" />
</head>

<body class="body-bg-img">
  <!-- Display the title navigation bar -->
  <section id="title">
    <div th:replace="~{/fragments/navbar}" />
  </section>

  <div id="container" class="container-scrollable">
    <div th:each="team : ${matchplayTeamsScoresList}">
      
        <table class="table-matchplay">
          
          <tr th:id="${team.name}" class="tr-matchplay">
            <td class="cell">
            </td>
            <td class="cell">
            </td>
            <td class="cell">
            </td>
          </tr>
        </table>
      
    </div>
  </div>

  <div id="footer" th:replace="~{/fragments/footer}" />

  <!-- Assign model attributes as global variables so they can be used in external -->
  <!-- javascript file. -->
  <script type="text/javascript" th:inline="javascript">
    window.matchplayTeamScores = /*[[${matchplayTeamScores}]]*/ {};
    window.matchplayTeamsScoresList = /*[[${matchplayTeamsScoresList}]]*/ {};
  </script>

  <script type="text/javascript" th:inline="javascript" th:src="@{/js/matchplay.js}"></script>

</body>

</html>